
{% extends 'index.html' %}

{% load static %}


{% block content %}

      <div class="container">
        <h1>Welcome to Employee Management</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur sem vitae faucibus tristique. Nam ut ullamcorper leo. Duis laoreet massa ac commodo convallis.</p>
        <p>Choose an option to get started:</p>
        <a href="/Slogin" class="btn btn-primary">Login</a>
        <a href="/Sregisteration" class="btn btn-primary">Register</a>
    </div>

{% endblock content %}

    