{% extends 'index.html' %}
{% load static %}

{% block content %}
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 50px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .card {
            background-color: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 20px;
            flex: 1;
        }
        
        table {
            width: 100%;
            margin-bottom: 30px;
        }
        
        th, td {
            padding: 10px;
            text-align: left;
        }
        
        th {
            font-weight: bold;
            color: #555;
        }
        
        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
        }
        
        .buttons button {
            margin-bottom: 10px;
        }
    </style>
    <div class="container">
        <div style="
        box-shadow: 5px 8px 0px 0px;
    " class="card">
            <div class="buttons">
                <a href="viewAllEmployees"><button>Find User</button></a>
                <a href=""><button>Add Department</button></a>
            </div>
            
            <h2>Manager Profile</h2>
            <table>
                <tr>
                    <th>Name:</th>
                    <td>{{ user.manager_name }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Role:</th>
                    <td>Manager</td>
                </tr>
                <tr>
                    <th>Phone Number:</th>
                    <td>{{ user.phone_number }}</td>
                </tr>
                <tr>
                    <th>Age:</th>
                    <td>{{ user.age }}</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <th>Date of Birth:</th>
                    <td>{{ user.date_of_birth }}</td>
                </tr>
            </table>

            <a href="managerSaveChanges"><button>Edit</button></a>
        </div>
    </div>
{% endblock content %}
